:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parallax-container {
    height: auto
}


nav, main {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    nav, main {
      padding-left: 0;
    }
  }
        

h6 {
    line-height: 15px;
    padding: 6px;
}

h3 {
    color: white;
}

p {
    font-size: 15px;
}

li button {
    float: right;
    border: none;
    background-color: orange;
    color: white;
}

.card {
    background-color: #593888;
    text-align: center;
    
}

.btn {
    background-color: orange;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}